<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
    </bean>
    <context:component-scan base-package="com.abc.dao"/>
    <context:component-scan base-package="com.abc.servie"/>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg name="dataSource"  ref="dataSource"/>
    </bean>


<!--        &lt;!&ndash; 3.配置SqlSessionFactory对象 &ndash;&gt;
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            &lt;!&ndash; 注入数据库连接池 &ndash;&gt;
            <property name="dataSource" ref="dataSource" />
            &lt;!&ndash; 配置MyBaties全局配置文件:mybatis-config.xml &ndash;&gt;
            <property name="configLocation" value="classpath:mybatis-config.xml" />
            &lt;!&ndash; 扫描entity包 使用别名 &ndash;&gt;
            <property name="typeAliasesPackage" value="com.soecode.entity" />
            &lt;!&ndash; 扫描sql配置文件:mapper需要的xml文件 &ndash;&gt;
            <property name="mapperLocations" value="" />
        </bean>

        &lt;!&ndash; 4.配置扫描Dao接口包，动态实现Dao接口，注入到spring容器中 &ndash;&gt;
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            &lt;!&ndash; 注入sqlSessionFactory &ndash;&gt;
            <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
            &lt;!&ndash; 给出需要扫描Dao接口包 &ndash;&gt;
            <property name="basePackage" value="com.abc.dao" />
        </bean>-->

</beans>